### 1. 라이브러리 선언하기

In [245]:
import pandas as pd
import numpy as np

## 2. 데이터 불러오기

In [246]:
selloutData = \
    pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [247]:
selloutTypeData = selloutData.astype({
    "REGIONID":str,
    "PRODUCT":str,
    "YEARWEEK":str,
    "QTY":float})

## 3. 데이터 통합

In [248]:
## YEARWEEK에서 나눠야할 연도, 주차 길이 정의
yearAndWeek = 4

## YearAndWeek를 기준으로 데이터 나누기
selloutTypeData["YEAR"]=selloutTypeData.YEARWEEK.str[:yearAndWeek]
selloutTypeData["WEEK"]=selloutTypeData.YEARWEEK.str[yearAndWeek:]

## 구하고자 하는 Week 변수 지정
yearlength = 52

## yearlength를 기준으로 데이터 찾기
findSelloutData = selloutTypeData.loc[selloutTypeData.WEEK.astype(int)<=yearlength]

## 인덱스 재설정
refinedSelloutData=findSelloutData.reset_index(drop=True)

## 검산식
# refinedSelloutData.loc[refinedSelloutData.WEEK.astype(int)>yearlength]

refinedSelloutData

       REGIONID    PRODUCT YEARWEEK      QTY  YEAR WEEK
0           A60   PRODUCT4   201402     71.0  2014   02
1           A60  PRODUCT59   201402  22275.0  2014   02
2           A60  PRODUCT34   201402   4463.0  2014   02
3           A60  PRODUCT47   201402      0.0  2014   02
4           A60  PRODUCT56   201402     23.0  2014   02
...         ...        ...      ...      ...   ...  ...
123859      A10  PRODUCT60   201630    824.0  2016   30
123860      A10  PRODUCT56   201630    275.0  2016   30
123861      A10  PRODUCT61   201630      0.0  2016   30
123862      A10  PRODUCT12   201630  15021.0  2016   30
123863      A10   PRODUCT1   201630    568.0  2016   30

[123864 rows x 6 columns]

<!-- ## 3. 불량 데이터 처리

selloutTypeData["QTY_NEW"] = np.where(selloutTypeData.QTY<0,0,selloutTypeData.QTY)
selloutTypeData -->