In [26]:
pwd

'C:\\Users\\SMART-24\\coding\\stddev\\Session02 - 파이썬 기초 다지기'

In [6]:
import pandas as pd #팬다스를 이용해 커스토머 데이터를 불러온다.

In [1]:
pwd

'C:\\Users\\SMART-24\\coding\\stddev\\Session02 - 파이썬 기초 다지기'

In [8]:
customerData = pd.read_csv("C://Users/SMART-24/coding/stddev/dataset/customerdata.csv")

In [9]:
customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [28]:
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")

In [67]:
customerData  #커스토머 코드는 중복이 일어나면 안됨

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [84]:
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

In [85]:
customerTotalList #구매한 사람들 중에 평균값을 구한다 -> 절사평균 (최소값최대값 제외)

[30300,
 46500,
 22700,
 31400,
 44900,
 38300,
 19900,
 14800,
 24400,
 30400,
 30300,
 34300,
 14900,
 16300,
 25000,
 27500,
 18200,
 40200,
 74600,
 42700,
 14900,
 58700,
 16000,
 17800,
 26800,
 14000,
 31800,
 16000,
 37600,
 32800,
 176600,
 16200,
 102000,
 56800,
 14700,
 14800,
 2500,
 23600,
 38100,
 82300,
 62900,
 5000,
 16100,
 40900,
 14600,
 28600,
 12300,
 37800,
 32600,
 16100,
 18400,
 17700,
 9400,
 37400,
 8800,
 26600,
 20900,
 15800,
 14800,
 20500,
 19700,
 39900,
 122900,
 33000,
 12100,
 14700,
 48400,
 51900,
 17400,
 26500,
 12800,
 15500,
 21400,
 15300,
 36000,
 49000,
 35800,
 16900,
 43000,
 28200,
 45100,
 18200,
 20600,
 23900,
 14500,
 70000,
 15800,
 6600,
 40500,
 17000,
 43800,
 146800,
 86900,
 19200,
 17100,
 18800,
 24700,
 17500,
 25100,
 19000,
 18800,
 55700,
 31500,
 27800,
 16000,
 14100,
 17100,
 20600,
 19100,
 14500,
 29400,
 17700,
 54400,
 13100,
 33700,
 17600,
 29000,
 41300,
 27700,
 25900,
 21900,
 41100,
 15000,
 67100,
 29600,
 13900,
 21700,
 15200,
 13100,
 25600,
 12500,
 18600,
 30700,
 23000,
 41400,
 29400,
 40400,
 50600,
 34700,
 12800,
 26300,
 14900,
 14500,
 14100,
 72100,
 15600,
 31700,
 14500,
 15700,
 15800,
 33200,
 23300,
 15300,
 17000,
 16300,
 16800,
 73900,
 23400,
 15800,
 15700,
 21000,
 101500,
 35800,
 55600,
 33900,
 23600,
 15900,
 38100,
 13800,
 13500,
 42600,
 42900,
 18400,
 18900,
 12900,
 12800,
 20900,
 31200,
 36300,
 15800,
 14100,
 43400,
 29500,
 19000,
 22700,
 36000,
 62800,
 50400,
 61000,
 32200,
 78400,
 8100,
 19400,
 3000,
 17600,
 17300,
 16400,
 37700,
 17200,
 16400,
 19200,
 15300,
 14000,
 33700,
 13500,
 27500,
 48000,
 68500,
 16600,
 20400,
 7000,
 17700,
 12600,
 14400,
 40600,
 34500,
 72300,
 38800,
 45000,
 24000,
 28400,
 25700,
 39000,
 21700,
 5700,
 40800,
 22500,
 29000,
 120100,
 50900,
 29500,
 142800,
 15600,
 22400,
 18800,
 31600,
 15500,
 14800,
 19300,
 62100,
 16100,
 18800,
 14100,
 18300,
 17600,
 15700,
 16200,
 41500,
 18300,
 15900,
 54200,
 24600,
 21400,
 16200,
 15900,
 50400,
 14200,
 18200,
 20200,
 38600,
 12000,
 36000,
 16100,
 13400,
 16800,
 22500,
 15200,
 17600,
 12700,
 15400,
 21500,
 28300,
 16300,
 13300,
 19500,
 66600,
 17100,
 34600,
 5700,
 35400,
 33200,
 17900,
 27400,
 29200,
 85500,
 16300,
 19800,
 44600,
 41400,
 15600,
 16400,
 24100,
 17100,
 15500,
 18000,
 35100,
 19000,
 43400,
 52700,
 59900,
 15200,
 21600,
 17000,
 11500,
 17500,
 27800,
 114400,
 38700,
 22100,
 29600,
 16800,
 27400,
 16400,
 36300,
 16600,
 22500,
 19000,
 62500,
 27800,
 45000,
 28100,
 32700,
 33600,
 22100,
 30000,
 14600,
 14900,
 15300,
 2800,
 19700,
 21200,
 55700,
 92500,
 13800,
 31400,
 17300,
 20300,
 21800,
 29400,
 59500,
 16800,
 15300,
 14100,
 53700,
 69200,
 27800,
 33600,
 36300,
 31400,
 2700,
 19400,
 13600,
 93100,
 11700,
 21300,
 18200,
 2700,
 14600,
 14400,
 16100,
 23700,
 49300,
 15200,
 27100,
 23800,
 16200,
 17000,
 55700,
 20600,
 41400,
 17200,
 37200,
 42200,
 55400,
 11900,
 14300,
 27700,
 31200,
 16100,
 12300,
 25400,
 41800,
 26200,
 40300,
 20200,
 33700,
 35500,
 41600,
 18200,
 34200,
 16100,
 18500,
 16300,
 24200,
 29400,
 32000,
 19800,
 57900,
 29100,
 39900,
 15300,
 15000,
 14600,
 32500,
 29200,
 16500,
 18100,
 13200,
 23100,
 29800,
 35500,
 23700,
 16100,
 27600,
 22300,
 35300,
 16400,
 36100,
 14300,
 15400,
 59400,
 20600,
 15100,
 30900,
 13600,
 119500,
 21500,
 36800,
 30600,
 22900,
 13200,
 64900,
 14300,
 18000,
 16900,
 19300,
 25500,
 14600,
 17800,
 12500,
 13900,
 15800,
 19200,
 17500,
 19900,
 14700,
 15100,
 24400,
 27200,
 42700,
 14500,
 14700,
 30200,
 29500,
 32600,
 16000,
 15900,
 18000,
 18300,
 14500,
 29700,
 180300,
 24400,
 13000,
 17200,
 40200,
 13400,
 24600,
 17400,
 2700,
 17900,
 19900,
 11700,
 29200,
 13500,
 12300,
 30500,
 7200,
 14400,
 26300,
 33800,
 22100,
 17000,
 35300,
 14700,
 17900,
 16700,
 18600,
 37200,
 35300,
 23100,
 18600,
 17000,
 23100,
 33500,
 35400,
 49800,
 15700,
 14100,
 101000,
 26200,
 15700,
 87700,
 2500,
 33000,
 16900,
 18200,
 23500,
 17800,
 14800,
 34100,
 42500,
 13300,
 14400,
 36100,
 21700,
 25600,
 33000,
 36500,
 12300,
 74500,
 13000,
 19800,
 36400,
 24400,
 15400,
 81900,
 20800,
 31600,
 22700,
 46700,
 20100,
 30900,
 36900,
 39400,
 16200,
 46200,
 35700,
 65000,
 28700,
 18600,
 16200,
 17000,
 40700,
 42000,
 67000,
 14000,
 15000,
 35400,
 15000,
 14700,
 12700,
 29100,
 19500,
 14700,
 31800,
 50600,
 22300,
 18300,
 15400,
 15200,
 67600,
 50300,
 19600,
 136400,
 32600,
 2500,
 38500,
 17300,
 37200,
 19900,
 28700,
 14500,
 38900,
 22700,
 21300,
 2600,
 145500,
 34800,
 55300,
 24400,
 12200,
 15800,
 28600,
 14900,
 23800,
 14000,
 47200,
 30900,
 33700,
 14500,
 43400,
 22900,
 21800,
 29800,
 34800,
 31600,
 16700,
 38500,
 71400,
 24400,
 14200,
 21900,
 38000,
 17300,
 21500,
 18000,
 28000,
 67100,
 17800,
 18000,
 16300,
 81200,
 22300,
 15700,
 40800,
 29500,
 32800,
 14900,
 18300,
 14400,
 21900,
 93300,
 44300,
 19700,
 53000,
 39100,
 19800,
 13600,
 27200,
 2400,
 35600,
 62700,
 15900,
 30400,
 28600,
 14400,
 18300,
 2000,
 13500,
 20700,
 20400,
 15900,
 16500,
 32900,
 55300,
 26400,
 16400,
 17000,
 56600,
 63300,
 19400,
 17900,
 19300,
 22100,
 27500,
 16000,
 14200,
 39800,
 22200,
 16300,
 16200,
 34900,
 18000,
 17900,
 13700,
 26000,
 56100,
 16100,
 36000,
 41000,
 26100,
 444500,
 13500,
 23500,
 14000,
 14400,
 48700,
 15300,
 18200,
 2700,
 17200,
 26100,
 13900,
 23900,
 17300,
 20800,
 19900,
 14500,
 46000,
 10600,
 107600,
 43500,
 14000,
 6000,
 17200,
 55500,
 22900,
 25300,
 2800,
 57400,
 43200,
 34300,
 19800,
 21000,
 41000,
 55800,
 28200,
 11900,
 15000,
 18800,
 21500,
 19300,
 19600,
 53900,
 25600,
 15000,
 14400,
 74700,
 29400,
 15400,
 35100,
 24000,
 25700,
 53000,
 12800,
 16400,
 14400,
 22400,
 13100,
 35200,
 45700,
 14400,
 45500,
 46400,
 37800,
 27600,
 25000,
 44100,
 47400,
 41500,
 51700,
 25600,
 15700,
 45400,
 75400,
 57000,
 35700,
 89100,
 405200,
 32400,
 13700,
 57700,
 16900,
 72400,
 61300,
 8600,
 34700,
 24900,
 155500,
 54400,
 245700,
 42200,
 60300,
 206000,
 124000,
 507900,
 17500,
 26800,
 32300,
 25400,
 160100,
 65300,
 15800,
 106800,
 15800,
 87000,
 173400,
 26400,
 132900,
 155800,
 29500,
 22400,
 24500,
 58500,
 14300,
 15200,
 101200,
 40300,
 41600,
 146900,
 43700,
 182900,
 55500,
 39900,
 197100,
 66100,
 85600,
 36600,
 12200,
 50300,
 45800,
 36300,
 54700,
 52500,
 127100,
 28200,
 25700,
 129800,
 25500,
 94600,
 40500,
 65800,
 16100,
 36700,
 16200,
 128200,
 28000,
 32400,
 44400,
 72400,
 14300,
 31100,
 35500,
 32200,
 15900,
 37900,
 31100,
 35000,
 81800,
 155600,
 72800,
 40500,
 30300,
 44000,
 16800,
 43000,
 106100,
 80100,
 41600,
 68400,
 194600,
 36800,
 24200,
 35200,
 30900,
 24200,
 35200,
 35000,
 11300,
 20400,
 116000,
 101000,
 57900,
 16500,
 45000,
 55600,
 32000,
 30600,
 68000,
 84800,
 33700,
 68300,
 72700,
 39000,
 29100,
 155200,
 93500,
 17700,
 54100,
 13000,
 16000,
 25700,
 21500,
 22100,
 27300,
 13900,
 14100,
 140900,
 45800,
 8600,
 57000,
 16700,
 26100,
 33800,
 18500,
 14400,
 19700,
 13500,
 28200,
 68400,
 108500,
 15700,
 31500,
 43700,
 17000,
 28300,
 30800,
 38700,
 328300,
 236100,
 70900,
 87500,
 80100,
 12000,
 36000,
 79400,
 15400,
 84500,
 8500,
 14200,
 153500,
 41000,
 25200,
 84600,
 36000,
 95100,
 283500,
 31000,
 19600,
 89000,
 17000,
 41200,
 43200,
 139500,
 19500,
 122200,
 191100,
 27600,
 133900,
 82000,
 30000,
 30400,
 75300,
 15900,
 58900,
 24400,
 44800,
 37100,
 53900,
 25600,
 20600,
 63000,
 20200,
 163900,
 49700,
 44600,
 37600,
 13600,
 16000,
 61800,
 86500,
 32300,
 17700,
 35100,
 31800,
 137800,
 38400,
 40000,
 20400,
 33000,
 312000,
 121400,
 19700,
 33300,
 15300,
 104800,
 24400,
 21100,
 27900,
 61000,
 412600,
 38100,
 49800,
 42800,
 44200,
 40500,
 81100,
 58200,
 12100,
 40100,
 25600,
 272400,
 16500,
 19600,
 43800,
 63900,
 38500,
 5800,
 63400,
 13900,
 17200,
 14000,
 26600,
 177200,
 126000,
 55200,
 3400,
 29100,
 15500,
 ...]

In [82]:
customerTotalList.sort(reverse=True) # 최소값이 몇개인지 확인해봄

In [87]:
yearWeekValue = "2017w42"

In [92]:
yearWeekValue.split("w")[0]

'2017'

In [90]:
yearWeekValue[0:4]

'2017'

In [65]:
customerTotalList = customerData["TOTAL_AMOUNT"].tolist() # tolist로 total amount 리스트를 뽑아냄

maxData = max(customerTotalList) # ct에서 가장 큰 값

minData = min(customerTotalList) # ct에서 가장 작은 값

maxcountData = customerTotalList.count(maxData) #최대값 갯수

mincountData = customerTotalList.count(minData) #최소값 갯수

lenData = len(customerTotalList) - maxcountData - mincountData 
# 이게 리스트니깐 리스트 내 자료 개수를 알 수 있도록
# length 함수를 쓰자 
# 리스트 내 총 개수에서 맥스 개수와 미니멈 개수를 빼준다 

sumData = sum (customerTotalList) - ((maxData)*maxcountData) -((minData)*mincountData)
# 총 cl 합계에서 최대값의 개수와 미니멈의 개수를 빼준다

sumData /lenData
# 반복되는 것을 다 지운 최대값과 최소값을 제외한 평균

35248.91490376756

In [10]:
# 튜플

In [ ]:
priceList =[100,200,150,170]

In [ ]:
priceTuple =(100,200,150,170)

In [11]:
# 튜플은 변하지 않음. 데이터가 위변조 되지않도록 묶어두는 역할
priceTuple[0]= 190 #바뀌지 않음

NameError: name 'priceTuple' is not defined

In [ ]:
# priceset는 집합연산에 좋음

In [ ]:
priceSet = set(prieList)

In [13]:
priceSet1 = {100,150,200,170}
priceSet2 = {100,139,210,170}

In [16]:
priceSet1.difference(priceSet2)

{150, 200}

In [20]:
priceList =[10,20,30,40]

In [ ]:
priceDict ={"price" :[10,20,30,40]}

In [21]:
priceDict = {"price": priceList}

In [17]:
import pandas as pd

In [22]:
pd.DataFrame(priceDict)

   price
0     10
1     20
2     30
3     40

In [34]:
dic = {"name":"sec","id":"300000","address":"suwon"} # dic 정의

del dic["id"]   # id삭제

print(dic)
print(dic['name'])

{'name': 'sec', 'address': 'suwon'}
sec

In [29]:
type(dic)

dict

In [ ]:
imdata.rename(columns={"CUSTID":"CUSTOMERID", "AVGPRICE":"AVERAGE"})
# RENAME사용

In [54]:
import pandas as pd

productIdList =["LEDTV","LEDTV","LEDTV","LEDTV"]
yearweekList = [202101, 202102, 202103, 202104]
volValueList = [100,120,130,140]

In [55]:
priductIdDict = {"productdict":productIdList, "yearweek": yearweekList, "volume": volValueList}

In [50]:
pd.DataFrame(productId)

       0
0  LEDTV
1  LEDTV
2  LEDTV
3  LEDTV

In [56]:
pd.DataFrame(zip(productIdList,yearweekList,volValueList), columns=columnName)

NameError: name 'columnName' is not defined

In [100]:
pd.DataFrame([
            ["A01","202001",100], #1행 데이터
            ["A01",202002,12],   #2행 데이터
            ["A01","202003",130]  ]) # 3행 데이터 

# 내가 쓰는 데이터를 데이터 프레임으로 만들 수 있는 능력을 ,,

     0       1    2
0  A01  202001  100
1  A01  202002   12
2  A01  202003  130

In [60]:
import numpy as np

In [62]:
np.linspace(start =1, stop = 100, num=20)

array([  1.        ,   6.21052632,  11.42105263,  16.63157895,
        21.84210526,  27.05263158,  32.26315789,  37.47368421,
        42.68421053,  47.89473684,  53.10526316,  58.31578947,
        63.52631579,  68.73684211,  73.94736842,  79.15789474,
        84.36842105,  89.57894737,  94.78947368, 100.        ])

In [63]:
!pip show numpy

Name: numpy
Version: 1.18.5
Summary: NumPy is the fundamental package for array computing with Python.
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email: None
License: BSD
Location: c:\users\smart-24\anaconda3\lib\site-packages
Requires:
Required-by: tables, statsmodels, seaborn, scipy, scikit-learn, PyWavelets, patsy, pandas, numexpr, numba, mkl-random, mkl-fft, matplotlib, imageio, h5py, Bottleneck, bokeh, bkcharts, astropy

In [64]:
pip show numpy

Name: numpy
Version: 1.18.5
Summary: NumPy is the fundamental package for array computing with Python.
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email: None
License: BSD
Location: c:\users\smart-24\anaconda3\lib\site-packages
Requires:
Required-by: tables, statsmodels, seaborn, scipy, scikit-learn, PyWavelets, patsy, pandas, numexpr, numba, mkl-random, mkl-fft, matplotlib, imageio, h5py, Bottleneck, bokeh, bkcharts, astropy
Note: you may need to restart the kernel to use updated packages.

In [65]:
pip list

Package                            Version
---------------------------------- -------------------
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.9.12
anaconda-project                   0.8.3
argh                               0.26.2
asn1crypto                         1.3.0
astroid                            2.4.2
astropy                            4.0.1.post1
atomicwrites                       1.4.0
attrs                              19.3.0
autopep8                           1.5.3
Babel                              2.8.0
backcall                           0.2.0
backports.functools-lru-cache      1.6.1
backports.shutil-get-terminal-size 1.0.0
backports.tempfile                 1.0
backports.weakref                  1.0.post1
bcrypt                             3.1.7
beautifulsoup4                     4.9.1
bitarray                           1.4.0
bkcharts                           0.2
bleach                             3.1.5
bokeh                              2.1.1
boto                               2.49.0
Bottleneck                         1.3.2
brotlipy                           0.7.0
certifi                            2020.6.20
cffi                               1.14.0
chardet                            3.0.4
click                              7.1.2
cloudpickle                        1.5.0
clyent                             1.2.2
colorama                           0.4.3
comtypes                           1.1.7
conda                              4.8.3
conda-build                        3.18.11
conda-package-handling             1.7.0
conda-verify                       3.4.2
contextlib2                        0.6.0.post1
cryptography                       2.9.2
cycler                             0.10.0
Cython                             0.29.21
cytoolz                            0.10.1
dask                               2.20.0
decorator                          4.4.2
defusedxml                         0.6.0
diff-match-patch                   20200713
distributed                        2.20.0
docutils                           0.16
entrypoints                        0.3
et-xmlfile                         1.0.1
fastcache                          1.1.0
filelock                           3.0.12
flake8                             3.8.3
Flask                              1.1.2
fsspec                             0.7.4
future                             0.18.2
gevent                             20.6.2
glob2                              0.7
gmpy2                              2.0.8
greenlet                           0.4.16
h5py                               2.10.0
HeapDict                           1.0.1
html5lib                           1.1
idna                               2.10
imageio                            2.9.0
imagesize                          1.2.0
importlib-metadata                 1.7.0
intervaltree                       3.0.2
ipykernel                          5.3.2
ipython                            7.16.1
ipython-genutils                   0.2.0
ipywidgets                         7.5.1
isort                              4.3.21
itsdangerous                       1.1.0
jdcal                              1.4.1
jedi                               0.17.1
Jinja2                             2.11.2
joblib                             0.16.0
json5                              0.9.5
jsonschema                         3.2.0
jupyter                            1.0.0
jupyter-client                     6.1.6
jupyter-console                    6.1.0
jupyter-core                       4.6.3
jupyterlab                         2.1.5
jupyterlab-server                  1.2.0
keyring                            21.2.1
kiwisolver                         1.2.0
lazy-object-proxy                  1.4.3
libarchive-c                       2.9
llvmlite                           0.33.0+1.g022ab0f
locket                             0.2.0
lxml                               4.5.2
MarkupSafe                         1.1.1
matplotlib                         3.2.2
mccabe                             0.6.1
menuinst                           1.4.16
mistune                            0.8.4
mkl-fft                            1.1.0
mkl-random                         1.1.1
mkl-service                        2.3.0
mock                               4.0.2
more-itertools                     8.4.0
mpmath                             1.1.0
msgpack                            1.0.0
multipledispatch                   0.6.0
navigator-updater                  0.2.1
nbconvert                          5.6.1
nbformat                           5.0.7
networkx                           2.4
nltk                               3.5
nose                               1.3.7
notebook                           6.0.3
numba                              0.50.1
numexpr                            2.7.1
numpy                              1.18.5
numpydoc                           1.1.0
olefile                            0.46
openpyxl                           3.0.4
packaging                          20.4
pandas                             1.2.3
pandocfilters                      1.4.2
paramiko                           2.7.1
parso                              0.7.0
partd                              1.1.0
path                               13.1.0
pathlib2                           2.3.5
pathtools                          0.1.2
patsy                              0.5.1
pep8                               1.7.1
pexpect                            4.8.0
pickleshare                        0.7.5
Pillow                             7.2.0
pip                                20.1.1
pkginfo                            1.5.0.1
pluggy                             0.13.1
ply                                3.11
prometheus-client                  0.8.0
prompt-toolkit                     3.0.5
psutil                             5.7.0
py                                 1.9.0
pycodestyle                        2.6.0
pycosat                            0.6.3
pycparser                          2.20
pycurl                             7.43.0.5
pydocstyle                         5.0.2
pyflakes                           2.2.0
Pygments                           2.6.1
pylint                             2.5.3
PyNaCl                             1.4.0
pyodbc                             4.0.0-unsupported
pyOpenSSL                          19.1.0
pyparsing                          2.4.7
pyreadline                         2.1
pyrsistent                         0.16.0
PySocks                            1.7.1
pytest                             5.4.3
python-dateutil                    2.8.1
python-jsonrpc-server              0.3.4
python-language-server             0.34.1
pytz                               2020.1
PyWavelets                         1.1.1
pywin32                            227
pywin32-ctypes                     0.2.0
pywinpty                           0.5.7
PyYAML                             5.3.1
pyzmq                              19.0.1
QDarkStyle                         2.8.1
QtAwesome                          0.7.2
qtconsole                          4.7.5
QtPy                               1.9.0
regex                              2020.6.8
requests                           2.24.0
rope                               0.17.0
Rtree                              0.9.4
ruamel-yaml                        0.15.87
scikit-image                       0.16.2
scikit-learn                       0.23.1
scipy                              1.5.0
seaborn                            0.10.1
Send2Trash                         1.5.0
setuptools                         49.2.0.post20200714
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
sip                                4.19.13
six                                1.15.0
snowballstemmer                    2.0.0
sortedcollections                  1.2.1
sortedcontainers                   2.2.2
soupsieve                          2.0.1
Sphinx                             3.1.2
sphinxcontrib-applehelp            1.0.2
sphinxcontrib-devhelp              1.0.2
sphinxcontrib-htmlhelp             1.0.3
sphinxcontrib-jsmath               1.0.1
sphinxcontrib-qthelp               1.0.3
sphinxcontrib-serializinghtml      1.1.4
sphinxcontrib-websupport           1.2.3
spyder                             4.1.4
spyder-kernels                     1.9.2
SQLAlchemy                         1.3.18
statsmodels                        0.11.1
sympy                              1.6.1
tables                             3.6.1
tblib                              1.6.0
terminado                          0.8.3
testpath                           0.4.4
threadpoolctl                      2.1.0
toml                               0.10.1
toolz                              0.10.0
tornado                            6.0.4
tqdm                               4.47.0
traitlets                          4.3.3
typing-extensions                  3.7.4.2
ujson                              1.35
unicodecsv                         0.14.1
urllib3                            1.25.9
watchdog                           0.10.3
wcwidth                            0.2.5
webencodings                       0.5.1
Werkzeug                           1.0.1
wheel                              0.34.2
widgetsnbextension                 3.5.1
win-inet-pton                      1.1.0
win-unicode-console                0.5
wincertstore                       0.2
wrapt                              1.11.2
xlrd                               1.2.0
XlsxWriter                         1.2.9
xlwings                            0.19.5
xlwt                               1.3.0
xmltodict                          0.12.0
yapf                               0.30.0
zict                               2.0.0
zipp                               3.1.0
zope.event                         4.4
zope.interface                     4.7.1
Note: you may need to restart the kernel to use updated packages.

In [84]:
#np.random 하위의 함수를 검색하여 
#예: random 또는 randint
#0~10사이의 random함수를 생성하세요

import numpy as np

In [92]:
np.random.random(size = 5)

array([0.2744619 , 0.82372255, 0.10355849, 0.31575895, 0.36080054])

In [87]:
a = np.random.randint(0, 10, size=5, dtype=int) 

print(a)

[0 1 0 3 1]

In [96]:
import pandas as pd

a = !pip list

In [98]:
pd.DataFrame(a)

                                                     0
0           Package                            Version
1    ---------------------------------- -----------...
2            alabaster                          0.7.12
3             anaconda-client                    1.7.2
4            anaconda-navigator                 1.9.12
..                                                 ...
235          yapf                               0.30.0
236           zict                               2.0.0
237           zipp                               3.1.0
238             zope.event                         4.4
239           zope.interface                     4.7.1

[240 rows x 1 columns]

## 미션 1. 모든 데이터에 LED TV를 붙여라 <for문>

In [125]:
targetList= ["UN001","UN002","UN003","UN004"]

preFix = "LEDTV_"  # 데이터가 면할 때 for문이 커버를 못하는 경우가 생김

In [106]:
targetList[0] = preFix + targetList[0]
targetList[1] = preFix + targetList[1]
targetList[2] = preFix + targetList[2]
targetList[3] = preFix + targetList[3]

In [126]:
targetList

['UN001', 'UN002', 'UN003', 'UN004']

In [127]:
#targetListLen = len(targetList)

In [128]:
list (range (0,4))

[0, 1, 2, 3]

In [ ]:
    # i를 0~4 까지 1씩 증가를 시킨다(shift tap으로 확인해봐)
    # 구문은 tab들여쓰리고 컴퓨터가 인식하게 해준다.
    # for 문의 헤더가 끝나는 지점은 : 을 붙여준다.

for i in range(0, 4, 1):  # for 문 헤더
    targetList[i] = preFix + targetList[i]

## 미션 1. 모든 데이터에 LED TV를 붙여라 < while문>

In [5]:
targetList= ["UN001","UN002","UN003","UN004"]

preFix = "LEDTV_"

In [6]:
targetList[0] = preFix + targetList[0]
targetList[1] = preFix + targetList[1]
targetList[2] = preFix + targetList[2]
targetList[3] = preFix + targetList[3]

In [7]:
i=0

In [9]:
# while문 헤더 종결점은 : 서줘야한다
# 구문은 tab들여쓰기를 해야함

while(i<4):
    targetList[i] = preFix + targetList[i] # 끝나지 않고 계속 돌고 있음 
    # restart kernel하고 다시 실행을 시켜야함 
    # i 값을 증가시켜줘야함
    i = i + 1

In [11]:
targetList

['LEDTV_LEDTV_UN001',
 'LEDTV_LEDTV_UN002',
 'LEDTV_LEDTV_UN003',
 'LEDTV_LEDTV_UN004']

#### tvList2 = [ 'UN40EN001', 'UN40EN002’, 'UN40EN003', 'UN40EN004’] 리스트가 출력되도록 하세요

In [30]:
tvList2 = ["EN001", "EN002", "EN003", "EN004"]

In [31]:
preFix = "UN40"

In [36]:
tvList2Len = len(tvList2)

In [37]:
# for문 생성
for i in range(0, len(tvList2), 1):
    tvList2[i] = preFix + tvList2[i]

In [38]:
# tvList2 출력값
['UN40UN40EN001', 'UN40UN40EN002', 'UN40UN40EN003', 'UN40UN40EN004']

['UN40UN40EN001', 'UN40UN40EN002', 'UN40UN40EN003', 'UN40UN40EN004']

In [43]:
import pandas as pd

data = {'custId': ['a01','a02','a03'],
       'age': [24, 27, 34],
       'avgPrice': [30000,26000,15000]}


dataFrame = pd.DataFrame(data)

dataFrame

## 2. 조건 판단하기

In [60]:
scoreList = [50,60,70,80]

In [60]:
scoreLabel ="D"

In [60]:
score = 30

In [60]:
# 점수가 50점 미만인 경우
if score < 50 :
    scoreLabel = "C"
elif score < 80 :
    scoreLabel = "B"
else :
    scoreLabel = "A"

In [68]:
scoreLabel

'C'

In [71]:
#EXAMPLE
# tab들여쓰기 중요


testModel = "UN40EN001"
preFix = "LEDTV_" 

#prefix 가 없으면 붙여라
if testModel.count(preFix) == 0:
    testModel = preFix + testModel
else: 
    pass

In [ ]:
# step1 리스트에 있는 데이터를 하나씩 확인
# step2 리스트 아이템 별 prefix 개수를 확인
# step3 prefix >= 2 인 상황이면 -> ledtv를 전부 공백으로 replace.
#       prefix ==1 -> pass
#       prefix < 1 -> prefix를 붙이자

In [80]:
scoreList = [50,60,70,80]

SCORE 변수를 80으로 선언 후
90점이상 A, 80~90점 B, 이외 C 점수로
GRADE변수에 할당하는 프로그램을 구현하세요

In [144]:
score = 50 #변수선언
scoreLabel = "A" # 변수선언

In [145]:
if score >= 90 :
    scoreLabel = "A"
elif score >= 80 :
    scoreLabel = "B"
else :
    scoreLabel ="C"

In [103]:
scoreLabel

'C'

##  실습 방법1

In [91]:
testModel = "LEDTV_LEDTV_UN40EN003"

preFix = "LEDTV_"
preFix2 = "ledtv_"
tvList2 =[ 'UN40EN001', 'LEDTV_UN40EN002', 
'LEDTV_LEDTV_UN40EN003', 'ledtv_UN40EN004']



# LEDTV_ 두 개인 것 제거
if testModel.count(preFix) == 2 :
    testModel = testModel.replace(preFix,"")
    testModel = preFix + testModel
    
# LEDTV_ 한 개인 것 pass 
elif testModel.count(preFix)== 1 :
    pass
# ledtv_ 소문자 제거 후 대문자로 
elif testModel.count(preFix2) == 1 :
    testModel = testModel.replace(preFix2,"")
    testModel = preFix + testModel
    
# LEDTV_ 없는 것 접두어 생성
else :
    testModel = preFix + testModel
    
    
['UN40UN40EN001', 'UN40UN40EN002', 'UN40UN40EN003', 'UN40UN40EN004']

In [139]:
testModel = "LEDTV_LEDTV_UN40EN003"
preFix = "LEDTV_"

tvList2 =[ 'UN40EN001', 'LEDTV_UN40EN002', 
'LEDTV_LEDTV_UN40EN003', 'ledtv_UN40EN004']

In [140]:
tvList2Len = len(tvList2)

In [96]:
tvList2upper =[]
    
for i in tvList2 :
    tvList2upper.append(i.upper())

In [142]:
print(tvList2upper)

['UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'LEDTV_UN40EN004']

## 실습 방법2

In [117]:
tvList2=['UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_LEDTV_UN40EN003', 'ledtv_UN40EN004'] 

# preFix 정의
preFix = 'LEDTV_'

# tvList 전체를 대문자로 변환
tvList2upper=[] 

for i in tvList2 :
    tvList2upper.append(i.upper())
    
# 대문자로 변환된 리스트를 tvList3로 정의 
tvList3 = tvList2upper

tvList3Len = len(tvList3)

for i in range (0,tvList3Len,1):
    if tvList3[i].count(preFix) >= 2 :
        tvList3[i] = tvList3[i].replace(preFix,'')
        tvList3[i] = preFix + tvList3[i]
    elif tvList3[i].count(preFix) == 1 :
        pass
   
    else: 
        tvList3[i]=preFix + tvList3[i]

tvList3

## 실습 방법3

In [116]:
## List와 preFix의 변수를 설정한다.
tvList2 = [ 'UN40EN001', 'LEDTV_UN40EN002','LEDTV_LEDTV_UN40EN003', 'ledtv_UN40EN004']
preFix = 'LEDTV_'

## 리스트의 길이를 구한다.
tvList2Len = len(tvList2)

## 반복문으로 preFix 개수 별로 조건을 준다.
for i in range(0,tvList2Len,1):
    tvList2[i] = tvList2[i].upper()
    if tvList2[i].count(preFix) >= 2:
        tvList2[i] = tvList2[i].replace(preFix*2,preFix)
    elif tvList2[i].count(preFix) == 1:
        pass
    else: 
        tvList2[i]=preFix + tvList2[i]
        
## 리스트를 출력한다.
print(tvList2)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [121]:
c = ['ticker', 'company_name', 'price22', 'dividend yield']

In [143]:
c_upper = []
for i in c:
    c_upper.append(i.upper())
    
print(c_upper)

['TICKER', 'COMPANY_NAME', 'PRICE22', 'DIVIDEND YIELD']

In [ ]:
    # STEP1 : 모델코드를 불러온다
    # STEP2 : 대문자로변환시킨다.
    # STEP3 : 접두어를 찾아서 하나만 붙인다
    # STEP4 : 정상모델 코드를 출력한다

In [173]:
tvList2 = [ 'UN40EN001', 'LEDTV_UN40EN002','LEDTV_LEDTV_UN40EN003', 'ledtv_UN40EN004']

In [ ]:
# 입력데이터 접두어 "LEDTV_"  2번이상 혹은 아예 안 나올 수도
# 대문자로 표현

In [176]:
for i in range(0, len(tvList2))

    # STEP1 : 모델코드를 불러온다 (접두어가 2개,1개,0개 붙을 수 있다)

    # 디버깅 코드
    loadedModel = tvList2[i]

    # STEP2 : 대문자로변환시킨다.
    modelUpper = loadedModel.upper()

    # STEP3 : 접두어를 찾아서 하나만 붙인다
    # 혹은 모델 코드를 찾고 접두어를 하나만 붙인다. replace
    # 하나도 없을 때 -> preFix + 대문자변환 기존값 
    # 1개 이상일 때

    preFix = 'LEDTV_'
    preFixCnt = modelUpper.count(preFix)
    print(preFixCnt)

    if preFixCnt == 0:
        modelUpper = preFix + modelUpper
    elif preFixCnt >=1 :
        modelUpper = preFix + modelUpper.replace(preFix,"")

    cvtModel = modelUpper
    tvList2[i] = cvtModel

SyntaxError: invalid syntax (<ipython-input-176-342ebd2debf7>, line 1)

## 소수점 둘째 짜리 반올림

In [234]:
#def 함수이름, 파라미터
def roundFunction(inValue):
    # 여기서 inValue는 함수를 개발하기 위한 디버깅 코드

    # 1. 입력받은 데이터를 반올림 자리수 만큼 곱해준다

    # inValue = 1.5667924528301887
    step1 = inValue * 100

    # 2. 곱해준 결과에 0.5를 더한 후 소수점 이하 버림

    step2 = int(step1 + 0.5)

    # 3. 100으로 나눠준다

    step3 = step2 / 100
    outValue = step3
    # 리턴을 해야 아웃밸류를 내보냄
    return outValue

In [217]:
revenue =1.87984

In [227]:
displatedrevenue = roundFunction(revenue)

In [228]:
displatedrevenue

1.88

In [229]:
accuracy = 89.135

displatedAccuracy = roundFunction(accuracy)

In [230]:
displatedAccuracy

89.14

In [236]:
tset1 =1.6255145
test2 =612.546541
test3 =78.546

In [238]:
roundFunction(test3)

78.55

In [246]:
globalmeanValue = 0.5

In [254]:
def simpleFunction(inValue, inValue2):
    localValue = 0.0  # 지역변수 : 지역에서만 작동하는 변수 
    defaultValue = globalmeanValue
#     inValue = 0.5
#     inValue2 = 0.3
#     meanValue = 1.0
    # 분모가 0인경우 기본값 1
    if inValue != 0:
        meanValue = inValue/inValue2
    else:
        meanValue == 1.0
        
    outValue = meanValue
    return outValue

함수 입력변수에 따라 소수점 2자리수, 3자리 등의 반올림
이 가능하도록 함수를 구현하세요
(예: roundFunction(12.2225,3) -> 3번째자리 반올림

In [ ]:
# 1. 함수 목록화 (프로젝트 시작 전)
# 2. 이미 구현된 함수 / 구현해야할 함수
# 3. 함수개발 <

In [ ]:
# 10 **2-> 제곱표현법

In [14]:
def roundOption(inValue,optionValue):
#     inValue =1.2225
#     optionValue =1
    step1 = inValue * 10**optionValue

   # 2. 곱해준 결과에 0.5를 더한 후 소수점 이하 버림
    step2 = int(step1 + 0.5)
   # 3. 10**optionValue로 나눠준다
    step3 = step2 / 10**optionValue      
    outValue = step3

    return outValue

In [15]:
roundOption(3.4564,3)

3.456

리스트를 인수로 받아서 최대, 최소값을뺀
평균을 구하는 함수를 생성하세요

## 예외처리

In [35]:
import pandas as pd

In [36]:
mergedSet =[]

In [55]:
for i in range (0, 3):
    try:
        filename = "../dataset"+str(i)+".txt"
        mergedSet.append(pd.read_csv("../dataset/a"+str(i)+".txt"))
    
    except Exception as e: #e라는 변수로 치환
        print(e)
        print("에러파일명 : {}".format(filename))

[Errno 2] No such file or directory: '../dataset/a0.txt'
에러파일명 : ../dataset0.txt

In [30]:
mergedSet.append(pd.read_csv("../dataset/a1.txt"))
mergedSet.append(pd.read_csv("../dataset/a2.txt"))
mergedSet.append(pd.read_csv("../dataset/a3.txt"))

In [87]:
tvList = ["LEDTV_UN40EN001", "LEDTV_UN40EN002", "LEDTV_UN40EN003"]
mobileList = ["G3_MO001", "G3_MO002","G3_MO003"]
speakerList = ["BL_SP001", "BL_SP002", "BL_SP003"]

productList = [tvList, mobileList, speakerList]

In [75]:
productLen = len(productList)
productLen2 = len(productList[j])

for i in range(0, productLen):
    for j in range (0, productLen2):
        if productLen == 0:
            pass
        elif (productList[i][j].split("_")[0] == "G3") &\
(productList[i][j].split("_")[1] == "MO002"):

            continue

## 003제외하고 list 출력하기

In [117]:
productList = [tvList, mobileList, speakerList]

tvList = ["LEDTV_UN40EN001", "LEDTV_UN40EN002", "LEDTV_UN40EN003"]
mobileList = ["G3_MO001", "G3_MO002","G3_MO003"]
speakerList = ["BL_SP001", "BL_SP002", "BL_SP003"]

## 프로덕트 리스트 요소 순서 정의
productListlen = len(productList)

## TV,MOBILE, SPEAKER 요소 순서 정의
productlen = len(productList[i])


for i in range (0, productListlen):
  
    for j in range (0, productlen):
        
## 반복 순서를 testModel 로 치환
        testModel = productList[i][j] 
   
        if (testModel.split("_")[0] == "G3")&\
        (testModel.split("_")[1] == "MO003"):
            continue
            
        elif (testModel.split("_")[0] == "BL")&\
        (testModel.split("_")[1] == "SP003"):
            break  
            
        print(testModel)

LEDTV_UN40EN001
LEDTV_UN40EN002
LEDTV_UN40EN003
G3_MO001
G3_MO002
BL_SP001
BL_SP002

In [ ]:
#리스트를 모두 출력한다
#단 003이 붙은 경우는제외
productList = [tvList, mobileList, speakerList]

In [ ]:
# 디버깅 (ledtv 추가로직 구현)
#무조건 출력한다

In [ ]:
for j in range(0,len(productList)):
    speakerList = productList[j]

    for i in range(0,len(speakerList)):
        # 리스트값에서 한 개를 가져온다 
        itemList =speakerList[i]
        # 제외할 character정의 
        inChar = '003'

        #제외할 문자가 존재시 출력하지 않음 
        charCnt = itemList.count(inChar)

        if charCnt >= 1:
            pass
        else:
            print(itemList)

In [115]:
     print(testModel)

BL_SP003

In [101]:
productList

[['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003'],
 ['G3_MO001', 'G3_MO002', 'G3_MO003'],
 ['BL_SP001', 'BL_SP002', 'BL_SP003']]

### 문자열로 구성된 리스트의 
### 합계를 구하는 함수를 생성하세요

In [14]:
#문자열 예시
numList = ['234','345','456','567','678']

#numList 가 파라미터인 함수생성
def sumListfunction(sumList):

sumList = 0
#반복문 생성

    for i in range(0,len(numList)):
        intList = int(numList[i])
        sumList = sumList + intList
            return sumList

IndentationError: expected an indented block (<ipython-input-14-1a9f5a81553a>, line 7)

In [27]:
def myRecursive(num):

    if(num<=1):
        return 1

    return num * myRecursive(num-1)

myRecursive(6)

In [36]:
def FuncRecursive(num):

    if(num>=200):
        return 200
    
    return num + FuncRecursive(num + 1)

In [37]:
FuncRecursive(100)

15150

In [42]:
def hjRecursive(num):

    if(num <= 1):
        return num
    
    return hjRecursive(num-1) + hjRecursive(num-2)

In [43]:
hjRecursive(10)

55

In [ ]:
import random 

number = random.sample(range(1, 100), 20) 

for i in range(len(number)-1): 
    for j in range(i, len(number)):
        if number[i] < number[j]:
            number[i] , number[j]  = number[j], number[i] 
            

print(number)

1.라이브러리 정의

In [2]:
import pandas as pd

2.파일데이터 불러오기

In [3]:
pd.read_csv("../dataset/customerdata.csv")

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [4]:
pd.read_csv("./currData.csv")

FileNotFoundError: [Errno 2] No such file or directory: './currData.csv'

In [ ]:
pd.read_clipboard