## 1. 라이브러리 선언

In [1]:
import pandas as pd

In [5]:
import warnings

In [7]:
warnings.filterwarnings(action="ignore")

## 2. 데이터 불러오기

In [8]:
selloutData = pd.read_csv("../dataset/join_kopo_product_volume.csv")

In [9]:
a01Data = selloutData.loc[selloutData.REGIONID == "A01" ]
a02Data = selloutData.loc[selloutData.REGIONID == "A02" ]

## 3. 데이터 예측
### A01지역은 통계적 예측 / A02지역은 머신러닝 예측

In [10]:
a01Data["PREDICT"] = 10

In [11]:
a02Data["PREDICT"] = 30

## 4. 데이터 병합
### 1) CONCAT

In [20]:
predict_dt = pd.DataFrame([10,15], columns = ["PREDICT_DT"])
predict_dt

   PREDICT_DT
0          10
1          15

In [22]:
a01Data

  REGIONID PRODUCT  YEARWEEK   QTY  PREDICT
0      A01  ST0001    201901  3000       10
1      A01  ST0001    201902  3500       10

In [19]:
# pd.concat([ a01Data, a02Data] , axis = 0)  
# 축을 위아래로 합치겠다. axis 1로 바꾸면 좌우로 합침

In [26]:
pd.concat([a01Data, predict_dt], axis =1)
# 컬럼끼리 그냥 합치고 싶을 때

  REGIONID PRODUCT  YEARWEEK   QTY  PREDICT  PREDICT_DT
0      A01  ST0001    201901  3000       10          10
1      A01  ST0001    201902  3500       10          15

In [12]:
# a01Data.append(a02Data)

  REGIONID PRODUCT  YEARWEEK   QTY  PREDICT
0      A01  ST0001    201901  3000       10
1      A01  ST0001    201902  3500       10
2      A02  ST0002    201901  4000       30
3      A02  ST0003    201902  7000       30

### 2) APPEND

In [28]:
st01data = pd.read_csv("../dataset/st0001data.csv")

maxDate = st01data.WEEK.max()

In [29]:
# 미래에 1000줄 generate
fcstWindow = 1000

In [30]:
columns = st01data.columns

In [31]:
regionid = st01data.loc[0,].REGIONID

In [32]:
regionid

'A01'

In [33]:
productgroup = st01data.loc[0,].PRODUCTGROUP

In [34]:
productgroup

'ST0001'

In [35]:
regionid = st01data.loc[0,].REGIONID
productgroup = st01data.loc[0,].PRODUCTGROUP
# a01, st0001 고정해두고 week만 증가시키도록

In [36]:
# 신규 주차 정보 생성
# APPEND 를 활용해서 미래 데이터까지 MERGE 시키며 미래데이터 만들 수 있다.
for i in range(0, fcstWindow):
    yearweek = maxDate + i + 1
    
    volume=0
    indf = pd.DataFrame( [[regionid, productgroup, yearweek, volume]],
    columns= columns)
    # yearweek 는 계속 증가 시키면서 append
    st01data = st01data.append(indf)

In [37]:
st01data

   REGIONID PRODUCTGROUP  WEEK  MEAN_VOLUME
0       A01       ST0001     1       559479
1       A01       ST0001     2       483233
2       A01       ST0001     3       457317
3       A01       ST0001     4       500629
4       A01       ST0001     5       541937
..      ...          ...   ...          ...
0       A01       ST0001  1049            0
0       A01       ST0001  1050            0
0       A01       ST0001  1051            0
0       A01       ST0001  1052            0
0       A01       ST0001  1053            0

[1053 rows x 4 columns]

### 결측값 구하기

In [39]:
excelData =pd.read_excel("../dataset/missingValue.xlsx")

In [40]:
excelData.loc[excelData.qty.isnull(),"qty_new"] = 3

In [41]:
excelData.isnull().sum()

regionid    0
product     1
week        0
qty         2
target      2
qty_new     2
dtype: int64